.custom-select-opener {
    position: relative;
    padding: 12px 35px 12px 10px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    color: $text-dark-color;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    transition: $transition;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        transform: translateY(-50%) rotate(45deg);
        transition: $transition;
    }
}

.custom-select-container.is-open {
    .custom-select-opener {
        background: rgba(61, 64, 80, 0.85);
        color: #ffffff;
        border: 1px solid rgba(61, 64, 80, 0.85);
        &:before {
            transform: translateY(-50%) rotate(-135deg);
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }
    }
}

.custom-select-option {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    cursor: pointer;
    &.is-selected {
        color: #42A9ED;
        &::before {
            display: none;
        }
    }
    &.has-focus {
        background-color: transparent;
        color: #42A9ED;
    }
}

.custom-select-panel {
    background: rgba(39, 39, 51, 0.9);
    border: 1px solid #3D4050;
    &::-webkit-scrollbar {
        background: #3D4050;
        border-radius: 3px;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background: #3E9CDC;
        border-radius: 3px;
    }
}